/* ibm flex ,garamond & jetbrains mono */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=IBM+Plex+Sans&family=JetBrains+Mono&display=swap');

:root {
    --dark-color: #D5D9D9;
    --dark-background: #181a1b;
    --dark-background-shade: #3B4040;
    --dark-code-background: #162E2A;
    --light-color: black;
    --light-background: #FCF9F4;
    --light-background-shade: #D5D9D9;
    --light-code-background: #E6C29A;
}

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

hr {
    border: 0;
    clear:both;
    display:block;
    height: 1px;
}

a {
    text-decoration: underline;
}

/* nav styles */
nav a {
    text-decoration: none !important;
}

nav li {
    list-style: none;
    margin: auto 1rem;
    padding: 0;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* code block */
.named-fence-block {
    position: relative;
    padding: 1.2rem;
    padding-top: 3em;
    border-radius: 0 1rem 1rem 1rem;
    overflow-x: scroll;
}

/* code block name */
.named-fence-filename {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 1rem;
    text-decoration: none;
}

code {
    font-family: 'JetBrains Mono', monospace !important;
    /* font-size: 0.8rem; */
}

#photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

figure {
    width: 60%;
    margin-bottom: 1rem;
}

figure span {
}

img {
    width: 100%;
}

#photos img {
	object-fit: contain;
	width: 100%;
}

figcaption {
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
}

/* desktop style */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    min-height: calc(100vh - 8rem);
    width: 50%;
}

.tag {
    padding: 0.3rem 0.5rem;
    text-align: center;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
}

.youtube-tag {
    background: #FF0000;
    color: white;
}

.updates-tag {
    background: #008c76;
    color: white;
}

.emacs-tag {
    background: #483d8b;
    color: white;
}

.checkout-tag {
    background: #ffdf00;
    color: black;
}

.dream-tag {
    background: black;
    color: white;
}

.solution-tag {
    background: #138808;
    color: white;
}

.fragment-item {
    margin-top: 1rem;
}

.fragment-item:last-of-type hr {
    background: transparent !important;    
}

/* page styles */

.page-diary h1 {
    text-decoration: underline;
    font-size: 2rem;
    background: #008080;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

/* mobile */
@media screen and (max-width: 600px) {
    article {
	min-height: calc(100vh - 8rem);
        width: 95%;
    }
    img {
	max-width: 350px;
	object-fit: contain !important;
    }
    figure {
	width: 100%;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body   {
	background:  var(--dark-background) !important;
	color: var(--dark-color) !important;
    }
    a {
	color: var(--dark-color) !important;
    }
    hr {
	background: var(--dark-color)
    }
    .named-fence-filename {
	background: var(--dark-background-shade);
	color: #91B102;
    }
    .named-fence-block {
	background: var(--dark-code-background);
    }
}

/* light mode */
@media (prefers-color-scheme: light){
    body {
	background: var(--light-background) !important;
	color: var(--light-color) !important;
    }
    a {
	color: var(--light-color) !important;
    }
    hr {
	background: var(--light-color)
    }
    .named-fence-filename {
	background: #D4D055 !important;
	color: black;
    }
    .named-fence-block {
	background: var(--light-code-background);
    }
}
